#app {
  margin: 32px;
  padding-bottom: 100px;
}

#existing-session {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

#invalid-session {
  color: darkred;
}

#new-session {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

#current-session {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

#delete-session {
  color: darkred;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

#select-pokemon {
  width: 400px;
}

#new-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.pokemon-card {
  width: 200px;
}

.name {
  cursor: pointer;
}

.level {
  cursor: pointer;
}

.level-button {
  margin-left: 8px;
}

.delete-pokemon {
  color: darkred;
}

.gender {
  position: absolute;
  cursor: pointer;
  top: 32px;
  left: 8px;
  height: 16px;
  width: 16px;
}

.mat-card-sm-image {
  width: auto;
}

.dead-pokemon {
  filter: grayscale(1);
}
